html, body {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------------------------------------------------------------*/
/*Nav Bar*/
ul {
    /*margin-left: 63vw;*/
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
}

.navbar {
    text-align: right;
    right: 5%;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 1%;
}

.navbar a {
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    color: #808080;
    padding-left: 3vw;
    z-index: 2;
    font-size: 1.75vw;
    transition: 0.3s;
}

.navbar ul a:hover{
    color: #A41034;
    z-index: 2;
    font-size: 2vw;
}

.navbar h0{
    color: #A41034;
    font-size: 2.8vw;
    transition: 0.3s;
    margin-right: 35vw;
}

.navbar h0:hover{
    font-size: 3vw;
}


/*Nav Bar*/
/*-----------------------------------------------------------------*/

/*Heading Section*/


.title a{
    position: fixed;
    z-index: 2;
    color: #A41034;
    left: 5vw;
    top: -2.5vw;
    width: 50%;
    font-size: 2.8vw;
}

.title a:hover{
    color: #A41034;
    z-index: 2;
    font-size: 3vw;

}


/*Heading Section*/

/*-----------------------------------------------------------------*/

/*.mySlides {
    display: none;
}*/

/*Image Settings*/


.rectangle{
    height: 20vw;
    width: 70vw;
    border-radius: 2vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*End Image Settings*/

/*Circles*/
.circlel {
    z-index: 1;
    height: 4vw;
    width: 4vw;
    top: 47%;
    left: 13%;
    z-index: 3;
    position: fixed;
    background-color: #A41034;
    border-radius: 50%;
}

.circler {
    z-index: 1;
    height: 4vw;
    width: 4vw;
    top: 47%;
    left: 84%;
    z-index: 3;
    position: fixed;
    background-color: #A41034;
    border-radius: 50%;
}

/*End Circles*/

/* Slideshow container */
.slideshow-container {
    max-width: 26vw;
    z-index: 2;
    top: 30%;
    left: 15%;
    position: fixed;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    z-index: 4;
    cursor: pointer;
    position: fixed;
    top: 20.75vw;
    width: 11vw;
    height: 1.5%;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    left: 84.4vw;
}

.prev{
    left: 14vw;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    opacity: 80%;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/*Projects: Rocket*/
.mySlides h1{
    text-align: left;
    z-index: 2;
    font-size: 1.25vw;
    font-weight: bold;
    position: fixed;
    left: 23%;
    top: 45.5%;
    color: #808080;
    /*animation: 0.7s ease-out 0s 1 slideInFromRight;*/
    
}

p{
    z-index: 2;
    font-size: 1.1vw;
    position: fixed;
    width: 37%;
    left: 23%;
    top: 49%;
    color: black;
    text-align: justify;
}

p1{
    z-index: 2;
    font-size: 1.1vw;
    position: fixed;
    width: 55.5%;
    left: 23%;
    top: 51.5%;
    color: black;
    text-align: justify;
}

.mySlides a{
    text-align: left;
    z-index: 2;
    font-size: 1.35vw;
    font-weight: bold;
    position: fixed;
    width: 20%;
    height: 2%;
    left: 50%;
    top: 55%;
    color: black;
    text-decoration: none;
}

.mySlides a:hover{
    z-index: 2;
    font-size: 1.45vw;
    text-decoration: underline;
}



/*Line*/
hr{
    top: 82%;
    position: fixed;
    z-index: 2;
    left: 10%;
    width: 80%;
    border: 1px solid #A41034;
    background-color: #A41034;
}



.tri {
    width: 0;
	height: 0;
	border-left: .8vw solid transparent;
	border-right: .8vw solid transparent;
	border-top: 1.1vw solid #A41034;
    position: fixed;
    top: 83.5%;
    left: 24.25%;
}

.tri1 {
    width: 0;
	height: 0;
	border-left: .8vw solid transparent;
	border-right: .8vw solid transparent;
	border-top: 1.1vw solid #A41034;
    position: fixed;
    top: 83.5%;
    left: 50.25%;
}


.tri2 {
    width: 0;
	height: 0;
	border-left: .8vw solid transparent;
	border-right: .8vw solid transparent;
	border-top: 1.1vw solid #A41034;
    position: fixed;
    top: 83.5%;
    left: 73%;
}


.dot {
    height: 6px;
    width: 6px;
    top: 83.1%;
    left: 10%;
    position: fixed;
    background-color: #A41034;
    border-radius: 50%;
}

.dots {
    height: 6px;
    width: 6px;
    top: 83.1%;
    left: 90%;
    position: fixed;
    background-color: #A41034;
    border-radius: 50%;
}

/*End Line*/

/*Line Text*/
p3{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 12%;
    left: 19%;
    top: 88%;
    color: #A41034;
}

p4{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 10%;
    left: 46%;
    top: 88%;
    color: black;
}

p5{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 8%;
    left: 70%;
    top: 88%;
    color: black;
}

/*Change test based on slide*/

p7{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 12%;
    left: 19%;
    top: 88%;
    color: black;
}

p8{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 10%;
    left: 46%;
    top: 88%;
    color: #A41034;
}


p9{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 8%;
    left: 70%;
    top: 88%;
    color: #A41034;
}

/*End Line Text*/

/*-----------------------------------------------------------------*/


/*Images*/
#hufpi{
    z-index: 2;
    top: 36%;
    left: 23%;
    position: fixed;
    height: 8%;
}

#dod{
    z-index: 2;
    top: 36%;
    left: 35%;
    position: fixed;
    height: 8%;
}

#report{
    z-index: 2;
    top: 36%;
    left: 66%;
    position: fixed;
    height: 32%;
    border-radius: 1vw;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, 0.35)));

}


/*End Images*/