html, body {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,sans-serif;
    font-weight: 100;
}

/*-----------------------------------------------------------------*/
/*Nav Bar*/
.navbar ul{
    text-align: left;
    top: 33px;
    right: 30px;
    width: auto;
    position: fixed;
    z-index: 5;
}

.navbar a {
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-right: 80px;
    z-index: 2;
    font-size: 16px;
}

.navbar ul a:hover{
    z-index: 2;
}

.navbar h0{
    vertical-align: baseline;
    position: fixed;
    color: black;
    font-size: 28px;
    font-weight: 100;
    transition: 0.3s;
    top: 36px;
    left: 5%;
    z-index: 6;
}

.navbar h0:hover{
    font-size: 31px;
}

.dropdown {
    display: none;
}

/*-------------*/

hr0{
    display: inline-block;
    position: fixed;
    z-index: 2;
    top: 43px;
    right: 485px;
    width: 135px;
    height: 0.01vw;
    background-color: black;
    
}
hr1{
    display: inline-block;
    position: fixed;
    z-index: 2;
    top: 43px;
    right: 335px;
    width: 140px;
    height: 3.5px;
    background-color: black;
}

hr2{
    display: inline-block;
    position: fixed;
    z-index: 2;
    top: 43px;
    right: 196px;
    width: 127px;
    height: 0.01vw;
    background-color: black;
}

hr3{
    display: inline-block;
    position: fixed;
    z-index: 2;
    top: 43px;
    right: 45px;
    width: 140px;
    height: 0.01vw;
    background-color: black;
}

/*Nav Bar*/
/*-----------------------------------------------------------------*/

/*Main Section*/
/*Profile Picture*/
#profile{
    z-index: 4;
    width: 250px;
    top: 135px;
    padding-left: 140px;
    position: fixed;
    text-align: center;
    opacity: 0;
    animation: 1s ease-in 0.25s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

/*About Me:*/
.main h1{
    font-size: 27px;
    font-weight: 400;
    position: fixed;
    width: 200px;
    top: 125px;
    left: 460px;
    z-index: 1;
    opacity: 0;
    animation: 0.8s ease-out 0.75s 1 slideInFromLeft;
    animation-fill-mode: forwards;
}


/*Description*/
.main hr{
    position: fixed;
    background-color: white;
    border: white;
    z-index: 3;
    left: 0;
    width: 460px;
    height: 100%;
}

/*I was born*/
.main p{
    position: fixed;
    text-align: left;
    z-index: 2;
    font-size: 17px;
    left: 460px;
    margin-top: 170px;
    color: black;
    width: 47%;
    text-align: justify;
    opacity: 0;
    animation: 1s ease-in 1.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

/*I have a*/
.main p1{
    position: fixed;
    text-align: left;
    z-index: 2;
    font-size: 17px;
    left: 460px;
    margin-top: 45px;
    color: black;
    text-align: justify;
    width: 47%;
    opacity: 0;
    animation: 1s ease-in 2s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

/*Footer*/
#linkedin{
    z-index: 2;
    height: 6%;
    top: 86%;
    left: 68%;
    position: fixed;
    text-align: center;
    opacity: 0;
    animation: 1s ease-in 2.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

#email{
    z-index: 2;
    height: 7%;
    top: 84.75%;
    left: 68%;
    margin-left: 70px;
    position: fixed;
    text-align: center;
    opacity: 0;
    animation: 1s ease-in 2.6s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

#download{
    z-index: 2;
    height: 6%;
    top: 85.5%;
    left: 68%;
    margin-left: 150px;
    position: fixed;
    text-align: center;
    opacity: 0;
    animation: 1s ease-in 2.7s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}


/*Main Section*/


/*-----------------------------------------------------------------*/

/*General*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(12%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRightLong {
    0% {
        transform: translateX(1500%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/*General*/
@media screen and (max-width: 900px) {   
    /*Nav Bar*/
    .navbar ul{
        top: 34px;
    }

    .navbar a {
        padding-right: 40px;
    }

    .navbar ul a:hover{
        z-index: 2;
    }
    /*-------------*/

    hr0{
        top: 48px;
        right: 363px;
        width: 95px;
    }
    hr1{
        top: 48px;
        right: 248px;
        width: 100px;
    }

    hr2{
        top: 48px;
        right: 150px;
        width: 90px;
    }

    hr3{
        top: 48px;
        right: 44px;
        width: 100px;
    }

    /*Nav Bar*/


    .dropdown {
        display: none;
    }

    #profile{
        display: none;
    }
    
    /*About Me:*/
    .main h1{
        font-size: 27px;
        font-weight: 400;
        position: fixed;
        width: 200px;
        top: 135px;
        left: 80px;
        z-index: 1;
        animation: 0.8s ease-out 0s 1 slideInFromLeft;
        opacity: 1;
    }
    
    
    /*Description*/
    .main hr{
        position: fixed;
        background-color: white;
        border: white;
        z-index: 3;
        left: 0;
        width: 80px;
        height: 100%;
    }
    
    .main p{
        position: fixed;
        text-align: left;
        z-index: 2;
        font-size: 17px;
        left: 80px;
        margin-top: 190px;
        color: black;
        width: 77%;
        text-align: justify;
    }
    
    .main p1{
        position: fixed;
        text-align: left;
        z-index: 2;
        font-size: 17px;
        left: 80px;
        margin-top: 45px;
        color: black;
        text-align: justify;
        width: 77%;
    }
    
}

@media screen and (max-width: 500px) {    
     /*Nav Bar*/
    .navbar {
        display: none;
    }

    .dropdown hr{
        position: fixed;
        background-color: white;
        z-index: 5;
        width: 200%;
        height: 20%;
        top: -9%;
        left: -10%;
        box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown h{
        color: black;
        font-size: 27px;
        font-weight: 100;
        position: fixed;
        z-index: 6;
        left: 22%;
        top: 3.5%;
    }
    /*Menu button image*/
    #menu{
        position: fixed;
        width: 40px;
        z-index: 6;
        display: block;
    }

    .dropdown {
        float: left;
        overflow: hidden;
        display: block;
        margin-left: 3%;
        margin-top: -0.5%;
        z-index: 6;
    }
    
      /* Dropdown button */
    .dropdown .dropbtn {
        position: fixed;
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: Black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        z-index: 7;
    }
    
      
      /* Dropdown content (hidden by default) */
    .dropdown-content {

        display: none;
        position: fixed;
        background-color: #f9f9f9;
        min-width: 100%;
        left: 0;
        margin-top: 13%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 7;
    }
      
      /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        z-index: 7;
    }
      
      /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
        z-index: 7;
    }

    .show {
        display: block;
        z-index: 6;
    }

    /*Nav Bar*/

    .main hr{
        position: absolute;
        background-color: white;
        border: white;
        z-index: 3;
        left: -30px;
        width: 58px;
        height: 30%;
    }

    /*About Me:*/

    .main h1{
        left: 3%;
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 80px;
    }

    /*Profile Picture*/
    #profile{
        z-index: 4;
        width: 80%;
        top: 150px;
        right: 13%;
        position: absolute;
        display: block;
        text-align: left;
    }

    /*Description*/
    .main p{
        font-weight: 100;
        position: absolute;
        display: inline-block;
        text-align: justify;
        width: 80%;
        color: black;
        margin-top: 150%;
        left: 7%;
        z-index: 5;
    }

    .main p1{
        position: absolute;
        text-align: left;
        z-index: 2;
        font-size: 17px;
        left: 0;
        margin-top: 45px;
        color: black;
        width: 100%;
        text-align: justify;
        padding-bottom: 50px;
    }
    /*Footer*/
    #linkedin{
        z-index: 5;
        height: 5%;
        top: 1100px;
        left: 10%;
        position: absolute;
        text-align: center;
        animation: 6s ease-out 0s 1 fadeInAnimation;
        opacity: 0;
        animation: 1s ease-in 2.7s 1 fadeInAnimation;
        animation-fill-mode: forwards;
    }

    #email{
        z-index: 5;
        height: 5%;
        top: 1099px;
        left: 10%;
        margin-left: 55px;
        position: absolute;
        text-align: center;
        opacity: 0;
        animation: 1s ease-in 2.8s 1 fadeInAnimation;
        animation-fill-mode: forwards;
    }

    #download{
        z-index: 5;
        height: 5%;
        top: 1100px;
        left: 10%;
        margin-left: 115px;
        position: absolute;
        text-align: center;
        padding-bottom: 30px;
        opacity: 0;
        animation: 1s ease-in 2.9s 1 fadeInAnimation;
        animation-fill-mode: forwards;
    }

}

/*-----------------------------------------------------------------*/