html, body {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 43vw;
    font-family: Arial, Helvetica, sans-serif;

}


/*Nav Bar*/
ul {
    /*margin-left: 63vw;*/
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
}

.title a {
    text-decoration: none;
    margin-top: 5.15vw;
    left: 3vw;
    font-size: 1.75vw;
    display: inline-block;
    transition: 0.3s;
    z-index: 2;
}

.navbar {
    height: 10%;
    width: 100%;
    position: fixed;
    left: 50vw;
    z-index: 2;
}

.navbar a {
    text-decoration: none;
    color: #808080;
    padding-top: 1.9vw;
    padding-left: 5vw;
    z-index: 2;
    font-size: 1.75vw;
    display: inline-block;
    transition: 0.3s;
}

.navbar ul a:hover{
    color: #A41034;
    z-index: 2;
    font-size: 2vw;
}


  /*Nav Bar*/

/*-----------------------------------------------------------------*/

/*Heading Section*/


.title a{
    position: fixed;
    z-index: 2;
    color: #A41034;
    left: 5vw;
    top: -2.5vw;
    width: 50%;
    font-size: 2.8vw;
}

.title a:hover{
    color: #A41034;
    z-index: 2;
    font-size: 3vw;

}


/*Heading Section*/

/*-----------------------------------------------------------------*/

/*Main Section*/

.main {
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: left;
    top: 73px;    
}

/*Profile Picture*/
#profile{
    z-index: 2;
    width: 20vw;
    top: 10vw;
    left: 10vw;
    position: fixed;
    border-radius: 1.75vw;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.35)));
    text-align: center;
}

/*About Me:*/
.main h1{
    display: inline-block;
    text-align: left;
    z-index: 2;
    font-size: 3vw;
    position: fixed;
    left: 33vw;
    top:8.5vw;
    color: #A41034;
    font-weight: 450;
    animation: 0.7s ease-out 0s 1 slideInFromLeft;
}

/*Description*/
.main p{
    text-align: left;
    z-index: 2;
    font-size: 1.5vw;
    left: 33vw;
    top: 15vw;
    color: black;
    position: fixed;
    width: 57%;
    text-align: justify;
}

.main p1{
    text-align: left;
    z-index: 2;
    font-size: 1.5vw;
    left: 33vw;
    top: 25vw;
    color: black;
    position: fixed;
    width: 57%;
    text-align: justify;
}

/*Line*/
hr{
    top: 14vw;
    position: fixed;
    z-index: 2;
    left: 32.5vw;
    width: 57.5vw;
    border: 1px solid #A41034;
    background-color: #A41034;
    animation: 0.7s ease-out 0s 1 slideInFromRight;
}

/*Main Section*/


/*-----------------------------------------------------------------*/

/*General*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(12%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRightLong {
    0% {
        transform: translateX(1500%);
    }
    100% {
        transform: translateX(0);
    }
}

/*General*/

/*-----------------------------------------------------------------*/