html, body {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,sans-serif;
    font-weight: 100;
}

/*-----------------------------------------------------------------*/
/*Nav Bar*/
.navbar ul{
    text-align: left;
    top: 26px;
    right: 40px;
    position: absolute;
    z-index: 5;
}

.navbar a {
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    color: black;
    z-index: 2;
    font-size: 16px;
    width: 145px;
}

.navbar ul a:hover{
    z-index: 2;
}

.navbar h0{
    vertical-align: baseline;
    position: absolute;
    color: black;
    font-size: 28px;
    font-weight: 100;
    transition: 0.3s;
    top: 28px;
    left: 4.35%;
    z-index: 6;
}


.navbar h0:hover{
    font-size: 29px;
}

.dropdown {
    display: none;
}

/*-------------*/

hr0{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: -5px;
    right: 450px;
    width: 145px;
    height: 1px;
    background-color: black;
    
}
hr1{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 150px;
    width: 145px;
    height: 1px;
    background-color: black;
}

hr2{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 150px;
    width: 145px;
    height: 3.5px;
    background-color: black;
}

hr3{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 150px;
    width: 145px;
    height: 1px;
    background-color: black;
}

/*-----Projects Dropdown-----*/
.dropbtn1{
    position: absolute;
    opacity: 0;
    top: 43px;
    right: 180px;
    width: 145px;
    height: 35px;
    z-index: 5;
    cursor: pointer;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 145px;
    right: 180px;
    margin-top: 48px;
    z-index: 7;
}

.dropdown1:hover .dropdown-content1 {
    display: inline-block;
    opacity: 0;
    animation: 0.15s ease-in 0.1s 1 fadeInAnimation;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.dropdown-content1 a {
    float: none;
    color: black;
    opacity: 0.5;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: left;
    z-index: 6;
    right: 180px;
    cursor: pointer;
}

.dropdown-content1 a:hover {
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
}




/*-----Experience Dropdown-----*/
.dropbtn2{
    position: absolute;
    opacity: 0;
    top: 43px;
    right: 30px;
    width: 145px;
    height: 35px;
    z-index: 5;
    cursor: pointer;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 145px;
    right: 30px;
    margin-top: 48px;
    z-index: 7;
}

.dropdown2:hover .dropdown-content2 {
    display: inline-block;
    opacity: 0;
    animation: 0.15s ease-in 0.1s 1 fadeInAnimation;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.dropdown-content2 a {
    float: none;
    color: black;
    opacity: 0.5;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: left;
    z-index: 6;
    right: 30px;
    cursor: pointer;
}

.dropdown-content2 a:hover {
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
}

/*Nav Bar*/
/*-----------------------------------------------------------------*/

/*Main Section*/

/*Projects:*/
/*Project Boom*/
.main h1{
    display: inline-block;
    text-align: left;
    z-index: 2;
    font-size: 3vw;
    font-weight: 400;
    position: absolute;
    left: 7.5vw;
    top: 9.5vw;
    animation: 0.7s ease-out 0s 1 slideInFromRight;   
}

/*Project CAD Lead*/
.main h2{
    display: inline-block;
    text-align: left;
    z-index: 2;
    font-size: 1.5vw;
    font-weight: 100;
    position: absolute;
    left: 7.5vw;
    top: 13.75vw;
    animation: 0.7s ease-out 0s 1 slideInFromRight;
    
}

#boom{
    z-index: 2;
    width: 33vw;
    top: 12.5vw;
    left: 55vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}


/*Project Overview*/
.main p{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 2vw;
    font-weight: 400;
    left: 7.5vw;
    top: 15.5vw;
    position: absolute;
    width: 50vw;
}

.main p1{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    left: 7.5vw;
    top: 20vw;
    position: absolute;
    width: 40vw;
    text-align: justify;
}


/*Project CAD Lead*/
.main p2{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 2vw;
    font-weight: 400;
    left: 7.5vw;
    top: 40vw;
    position: absolute;
    width: 50vw;
}

.rectangle{
    position: absolute;
    height: 20vw;
    width: 33vw;
    top: 45vw;
    left: 7.5vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cutaway{
    z-index: 2;
    width: 25vw;
    top: 46vw;
    left: 11vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}


.rectangle1{
    position: absolute;
    height: 20vw;
    width: 33vw;
    top: 68vw;
    left: 7.5vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#cfd{
    z-index: 2;
    width: 30vw;
    top: 70.5vw;
    left: 9vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}



/*Aero CAD Design*/
.main p3{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    font-weight: 400;
    left: 44vw;
    top: 47vw;
    position: absolute;
    text-align: justify;
    width: 45vw;
}

.main p4{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    left: 44vw;
    top: 49.5vw;
    position: absolute;
    text-align: justify;
    width: 45vw;
}

/*Aero Optimization*/
.main p5{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    font-weight: 400;
    left: 44vw;
    top: 70.5vw;
    position: absolute;
    width: 50vw;
}

.main p6{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    text-align: justify;
    left: 44vw;
    top: 73vw;
    color: black;
    position: absolute;
    width: 45vw;
    height: 10vw;
}

#crafts{
    z-index: 2;
    height: 15vw;
    top: 93vw;
    left: 7.5vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}


#fly{
    z-index: 2;
    height: 15vw;
    top: 93vw;
    left: 35.75vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}

#carbon{
    z-index: 2;
    height: 15vw;
    top: 93vw;
    left: 64vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}

#process{
    z-index: 2;
    height: 15vw;
    top: 93vw;
    left: 77.5vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}

/*Main Section*/


/*-----------------------------------------------------------------*/

/*General*/
.bold {
    font-weight: 700;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/*General*/

/*-----------------------------------------------------------------*/