html, body {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(white, #bcbcbc);
}


/*Nav Bar*/
.navbar {
    height: 20%;
    width: 100%;
    /*width: 100%;*/
    position: fixed;
    top: 0;
    left: 0;
    /*padding-top: 190px;*/
    /*padding-top: 9vw;*/
    z-index: 2;
    /*background-color: #bcbcbc;*/
}

ul {
    margin-left: 63vw;
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
}

a {
    text-decoration: none;
    padding: 5% 8% 0px 0px;
    /*font-size: 30px;*/
    font-size: 1.75vw;
    display: inline-block;
    transition: 0.3s;
    z-index: 2;
}

.navbar a {
    font-family: Helvetica;
    color: black;
    /*height: 3vw;*/
    z-index: 2;
}

.navbar ul a:hover{
    color: #A41034;
    z-index: 2;
    
    font-size: 2vw;
}





  /*Nav Bar*/

/*-----------------------------------------------------------------*/

/*Heading Section*/
.title a{
    position: fixed;
    z-index: 2;
    color: #A41034;
    left: 5%;
    top: -5%;
    width: 50%;
    font-family: Helvetica;
    font-size: 2.8vw;
}

.title a:hover{
    color: #A41034;
    z-index: 2;
    font-size: 3vw;
}


/*Heading Section*/

/*-----------------------------------------------------------------*/

/*Main Section*/

.main {
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: left;
    top: 73px;
    /*background-color: #A41034;*/
    
}

/*Profile Picture*/
#profile{
    z-index: 1;
    width: 20%;
    margin-top: 5%;
    margin-left: 14vw;
    position: fixed;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


/*Contact Me*/
.main h1{
    display: inline-block;
    text-align: left;
    margin-left: 25vw;
    padding-top: 1%;
    z-index: 2;
    font-family: Helvetica;
    font-size: 5vw;
    position: fixed;
    left: 12vw;
    color: black;
    animation: 0.7s ease-out 0s 1 slideInFromLeft;
}

/*Email*/
.main p{
    text-align: left;
    z-index: 2;
    font-family: Helvetica;
    font-size: 1.5vw;
    margin-left: 37vw;
    top: 40%;
    color: black;
    position: fixed;
    width: 50%;
    
}
/*Telephone*/
.main p1{
    text-align: left;
    z-index: 2;
    font-family: Helvetica;
    font-size: 1.5vw;
    margin-left: 37vw;
    top: 53%;
    color: black;
    position: fixed;
    width: 50%;
    
}
/*LinkedIn*/
.main p2{
    text-align: left;
    z-index: 2;
    font-family: Helvetica;
    font-size: 1.5vw;
    margin-left: 37vw;
    top: 62.5%;
    color: black;
    position: fixed;
    width: 50%;
    
}


.main p3{
    font-weight: bold;
}

/*LinkedIn Link*/
.main a{
    text-align: left;
    z-index: 2;
    font-family: Helvetica;
    font-size: 1.5vw;
    margin-top: 16.2vw;
    margin-left: 44vw;
    color: black;
    position: fixed;
    width: 50%;
    transition: 0s;
}

.main a:hover{
    color: #A41034;
}


/*Line*/
hr{
    margin-top: 11%;
    position: fixed;
    z-index: 2;
    left: 38%;
    width: 30%;
    border: 2px solid #A41034;
    background-color: #A41034;
    animation: 0.7s ease-out 0s 1 slideInFromRight;
}


/*Main Section*/


/*-----------------------------------------------------------------*/

/*General*/
.bold {
    font-weight: 700;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(60%);
    }
    100% {
        transform: translateX(0);
    }
}

/*General*/

/*-----------------------------------------------------------------*/