html, body {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 110vw;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/*-----------------------------------------------------------------*/
/*Nav Bar*/
ul {
    /*margin-left: 63vw;*/
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
}

.navbar {
    text-align: right;
    right: 5%;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 1%;
}

.navbar a {
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    color: #808080;
    padding-left: 3vw;
    z-index: 2;
    font-size: 1.75vw;
    transition: 0.3s;
}

.navbar ul a:hover{
    color: #A41034;
    z-index: 2;
    font-size: 2vw;
}

.navbar h0{
    color: #A41034;
    font-size: 2.8vw;
    transition: 0.3s;
    margin-right: 35vw;
}

.navbar h0:hover{
    font-size: 3vw;
}


/*Nav Bar*/
/*-----------------------------------------------------------------*/

/*Main Section*/

/*Projects:*/
/*Harvard Satellite Team*/
.main h1{
    display: inline-block;
    text-align: left;
    z-index: 2;
    font-size: 3vw;
    position: absolute;
    left: 7.5vw;
    top: 10vw;
    color: #A41034;
    animation: 0.7s ease-out 0s 1 slideInFromRight;   
}

/*Payload Team Lead, Bus Team Member*/
.main h2{
    display: inline-block;
    text-align: left;
    z-index: 2;
    font-size: 1.5vw;
    position: absolute;
    left: 7.5vw;
    top: 14vw;
    color: black;
    animation: 0.7s ease-out 0s 1 slideInFromRight;
    
}

#cube{
    z-index: 2;
    width: 41vw;
    top: 12.5vw;
    left: 50vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}


/*Project Overview*/
.main p{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 2vw;
    left: 7.5vw;
    top: 15.5vw;
    color: #6d6d6d;
    position: absolute;
    font-weight: bold;
    width: 50vw;
}

.main p1{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    left: 7.5vw;
    top: 20vw;
    color: black;
    position: absolute;
    width: 40vw;
    text-align: justify;
}

hr{
    top: 42vw;
    position: absolute;
    z-index: 2;
    left: 7.5vw;
    width: 83.5vw;
    border: 1px solid #A41034;
    background-color: #A41034;
    /*animation: 0.7s ease-out 0s 1 slideInFromRight;*/
}

/*Payload Team Lead*/
.main p2{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 2vw;
    font-weight: bold;
    left: 7.5vw;
    top: 40vw;
    color: #6d6d6d;
    position: absolute;
    width: 50vw;
}

.rectangle{
    position: absolute;
    height: 20vw;
    width: 33vw;
    top: 45vw;
    left: 7.5vw;
    border-radius: 1vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#payload{
    z-index: 2;
    width: 25vw;
    top: 47vw;
    left: 11vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}


hr1{
    top: 96vw;
    position: absolute;
    z-index: 2;
    left: 7.5vw;
    width: 83.5vw;
    border: 1px solid #A41034;
    background-color: #A41034;
    /*animation: 0.7s ease-out 0s 1 slideInFromRight;*/
}

.rectangle1{
    position: absolute;
    height: 20vw;
    width: 33vw;
    top: 68vw;
    left: 7.5vw;
    border-radius: 1vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#offloader{
    z-index: 2;
    width: 25.5vw;
    top: 70vw;
    left: 12vw;
    display: inline-block;
    position: absolute;
    text-align: left;
}



/*Nitinol Payload Design*/
.main p3{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    font-weight: bold;
    left: 44vw;
    top: 47vw;
    color: #A41034;
    position: absolute;
    text-align: justify;
    width: 45vw;
}

.main p4{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    left: 44vw;
    top: 49.5vw;
    color: black;
    position: absolute;
    text-align: justify;
    width: 45vw;
}

/*Payload Test Development*/
.main p5{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    font-weight: bold;
    left: 44vw;
    top: 70.5vw;
    color: #A41034;
    position: absolute;
    width: 50vw;
}

.main p6{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    text-align: justify;
    left: 44vw;
    top: 73vw;
    color: black;
    position: absolute;
    width: 45vw;
}


#stk{
    z-index: 2;
    width: 33vw;
    top: 2vw;
    display: inline-block;
    position: absolute;
    text-align: left;
    border-radius: 1vw;
}

.main p7{
    text-align: left;
    z-index: 2;
    font-size: 2vw;
    font-weight: bold;
    left: 0vw;
    top: -3vw;
    color: #6d6d6d;
    position: absolute;
    width: 50vw;
}

.main p8{
    text-align: left;
    z-index: 2;
    font-size: 1.5vw;
    font-weight: bold;
    left: 36vw;
    top: 3.5vw;
    color: #A41034;
    position: absolute;
    width: 50vw;
}

.main p9{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.5vw;
    left: 36vw;
    top: 6vw;
    color: black;
    position: absolute;
    width: 45vw;
    height: 20vw;
}



/*Main Section*/


/*-----------------------------------------------------------------*/

/*General*/
.bold {
    font-weight: 700;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

/*General*/

/*-----------------------------------------------------------------*/