html, body {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,sans-serif;
    font-weight: 100;
}

/*-----------------------------------------------------------------*/
/*Nav Bar*/
.navbar ul{
    text-align: left;
    top: 26px;
    right: 40px;
    position: absolute;
    z-index: 5;
}

.navbar a {
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    color: black;
    z-index: 2;
    font-size: 16px;
    width: 145px;
}

.navbar ul a:hover{
    z-index: 2;
}

.navbar h0{
    vertical-align: baseline;
    position: absolute;
    color: black;
    font-size: 28px;
    font-weight: 100;
    transition: 0.3s;
    top: 28px;
    left: 4.35%;
    z-index: 6;
}


.navbar h0:hover{
    font-size: 29px;
}

.dropdown {
    display: none;
}

/*-------------*/

hr0{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: -5px;
    right: 450px;
    width: 145px;
    height: 1px;
    background-color: black;
    
}
hr1{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 150px;
    width: 145px;
    height: 1px;
    background-color: black;
}

hr2{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 150px;
    width: 145px;
    height: 3.5px;
    background-color: black;
}

hr3{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 150px;
    width: 145px;
    height: 1px;
    background-color: black;
}

/*-----Projects Dropdown-----*/
.dropbtn1{
    position: absolute;
    opacity: 0;
    top: 43px;
    right: 180px;
    width: 145px;
    height: 35px;
    z-index: 5;
    cursor: pointer;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 145px;
    right: 180px;
    margin-top: 48px;
    z-index: 7;
}

.dropdown1:hover .dropdown-content1 {
    display: inline-block;
    opacity: 0;
    animation: 0.15s ease-in 0.1s 1 fadeInAnimation;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.dropdown-content1 a {
    float: none;
    color: black;
    opacity: 0.5;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: left;
    z-index: 6;
    right: 180px;
    cursor: pointer;
}

.dropdown-content1 a:hover {
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
}




/*-----Experience Dropdown-----*/
.dropbtn2{
    position: absolute;
    opacity: 0;
    top: 43px;
    right: 30px;
    width: 145px;
    height: 35px;
    z-index: 5;
    cursor: pointer;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 145px;
    right: 30px;
    margin-top: 48px;
    z-index: 7;
}

.dropdown2:hover .dropdown-content2 {
    display: inline-block;
    opacity: 0;
    animation: 0.15s ease-in 0.1s 1 fadeInAnimation;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.dropdown-content2 a {
    float: none;
    color: black;
    opacity: 0.5;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: left;
    z-index: 6;
    right: 30px;
    cursor: pointer;
}

.dropdown-content2 a:hover {
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
}

/*Nav Bar*/
/*-----------------------------------------------------------------*/

/*Main Section*/
.main b{
    font-weight: 400;
}

/*Projects:*/
hr11{
    display: inline-block;
    position: absolute;
    background-color: white;
    margin-left: -1vw;
    height: 10vw;
    width: 8.5vw;
    margin-top: 7vw;
    z-index: 3;
}

/*Harvard Satellite Team*/
.main h1{
    display: inline-block;
    text-align: left;
    z-index: 2;
    font-size: 2vw;
    font-weight: 100;
    position: absolute;
    left: 7.5vw;
    top: 7.5vw; 
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/*Payload Team Lead, Bus Team Member*/
.main h2{
    display: inline-block;
    text-align: left;
    z-index: 2;
    font-size: 1.5vw;
    font-weight: 100;
    position: absolute;
    left: 7.5vw;
    top: 10vw;
    color: black;
    animation: 1.35s ease-out 0s 1 slideInFromLeft;
}

#cube{
    z-index: 2;
    width: 44vw;
    top: 9.5vw;
    left: 44.5vw;
    display: inline-block;
    position: absolute;
    text-align: left;
    opacity: 0;
    animation: 2s ease-in 0.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}


/*Project Overview*/
.main p{
    display: inline-block;
    z-index: 2;
    font-size: 1.75vw;
    font-weight: 400;
    left: 7.5vw;
    top: 14.5vw;
    position: absolute;
    width: 50vw;
    opacity: 0;
    animation: 1.75s ease-in 0.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

.main p1{
    display: block;
    z-index: 2;
    font-size: 1.25vw;
    font-weight: 100;
    color: black;
    width: 30vw;
    text-align: justify;
}

/*Payload Team Lead*/

.main p2{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 2vw;
    font-weight: 400;
    left: 7.5vw;
    top: 39vw;
    position: absolute;
    width: 50vw;
    opacity: 0;
    animation: 2.5s ease-in 0.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

/*Payload Design*/

.main p3{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.25vw;
    font-weight: 400;
    text-align: left;
    width: 45vw;
}

.main p4{
    display: inline-block;
    z-index: 2;
    font-size: 1.25vw;
    font-weight: 100;
    color: black;
    text-align: justify;
    width: 47vw;
}

/*Payload Test Development*/

.main p5{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.25vw;
    font-weight: 400;
    left: 7.5vw;
    top: 55.5vw;
    position: absolute;
    width: 50vw;
    opacity: 0;
    animation: 2.5s ease-in 0.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

.main p6{
    display: inline-block;
    z-index: 2;
    font-size: 1.25vw;
    font-weight: 100;
    text-align: justify;
    color: black;
    width: 47vw;
}

ul.a{
    margin-top: 0.5vw;
}

ul.a li{
    list-style-type: square;
    font-size: 1.25vw;
}


#stk{
    z-index: 2;
    width: 27vw;
    top: 87vw;
    left: 62vw;
    display: inline-block;
    position: absolute;
    text-align: left;
    opacity: 0;
    animation: 2.5s ease-in 0.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

.main p7{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 2vw;
    font-weight: 400;
    left: 7.5vw;
    top: 86vw;
    position: absolute;
    width: 50vw;
}

.main p8{
    text-align: left;
    display: inline-block;
    z-index: 2;
    font-size: 1.25vw;
    font-weight: 400;
    left: 7.5vw;
    top: 89vw;
    position: absolute;
    width: 50vw;
}

.main p9{
    text-align: justify;
    display: inline-block;
    z-index: 2;
    font-size: 1.25vw;
    font-weight: 100;
    color: black;
    width: 47vw;
    height: 20vw;
}

/*Main Section*/

/* Slideshow container */
.slideshow-container {
    z-index: 6;
    width: 27vw;
    top: 39vw;
    left: 62vw;
    display: inline-block;
    position: absolute;
    opacity: 0;
    animation: 2.5s ease-in 0.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;

}

.mySlides a{
    z-index: 5;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 200;
    position: absolute;
    top: 20vw;
}

.mySlides p{
    z-index: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
    position: absolute;
    top: 7vw;
    left: 8vw;
}

hr{
    z-index: 8;
    position: absolute;
    display: inline-block;
    width: 27vw;

    top: 19vw;
    background-color: black;
}

#payload1{
    z-index: 2;
    width: 27vw;
    margin-top: -1vw;

    display: inline-block;
    position: absolute;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#payload1:hover{
    opacity: 40%;
    transition: 0.6s;
}

#payload2{
    z-index: 2;
    width: 27vw;
    margin-left: 0vw;
    margin-top: 1.75vw;
    display: inline-block;
    position: absolute;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#payload2:hover{
    opacity: 40%;
    transition: 0.6s;
}

#payload3{
    z-index: 2;
    height: 27vw;
    margin-left: 5vw;
    margin-top: -3.5vw;
    display: inline-block;
    position: absolute;
    text-align: left;
    cursor: pointer;
    transform: rotate(90deg);
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#payload3:hover{
    opacity: 40%;
    transition: 0.6s;
}

/* Slideshow container */
.slideshow-container1 {
    z-index: 2;
    width: 35vw;
    top: 61vw;
    left: 62vw;
    display: inline-block;
    position: absolute;
    text-align: left;

    opacity: 0;
    animation: 2.5s ease-in 0.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

.mySlides1 a{
    z-index: 5;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 200;
    position: absolute;
    top: 20vw;
}

.mySlides1 p{
    z-index: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
    position: absolute;
    top: 8vw;
    left: 8vw;
}

hr{
    z-index: 8;
    position: absolute;
    display: inline-block;
    width: 27vw;

    top: 19vw;
    background-color: black;
}

#offloader1{
    z-index: 2;
    width: 27vw;
    margin-top: 2.5vw;
    display: inline-block;
    position: absolute;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#offloader1:hover{
    opacity: 40%;
    transition: 0.6s;
}

#offloader2{
    z-index: 2;
    width: 27vw;
    margin-left: 0vw;
    margin-top: 2.5vw;
    display: inline-block;
    position: absolute;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#offloader2:hover{
    opacity: 40%;
    transition: 0.6s;
}

#offloader3{
    z-index: 2;
    width: 27vw;
    margin-left: 0vw;
    margin-top: 0.5vw;
    display: inline-block;
    position: absolute;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#offloader3:hover{
    opacity: 40%;
    transition: 0.6s;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.75s;
    animation-name: fade;
    animation-duration: 1.75s;
}

@-webkit-keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}
/* Slideshow container */


/*-----------------------------------------------------------------*/

/*General*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/*General*/

/*-----------------------------------------------------------------*/