html, body {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    /*background-image: linear-gradient(white, #bcbcbc);*/
}

/*-----------------------------------------------------------------*/
/*Nav Bar*/
ul {
    /*margin-left: 63vw;*/
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
}

.navbar {
    text-align: right;
    right: 5%;
    width: 100%;
    position: fixed;
    z-index: 2;
    margin-top: 1%;
}

.navbar a {
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    color: #808080;
    padding-left: 3vw;
    z-index: 2;
    font-size: 1.75vw;
    transition: 0.3s;
}

.navbar ul a:hover{
    color: #A41034;
    z-index: 2;
    font-size: 2vw;
}

.navbar h0{
    color: #A41034;
    font-size: 2.8vw;
    transition: 0.3s;
    margin-right: 35vw;
}

.navbar h0:hover{
    font-size: 3vw;
}


/*Nav Bar*/
/*-----------------------------------------------------------------*/


/*Main Section*/

.main {
    width: 100%;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: left;
    top: 100%; 
}

/*"Hi! I'm Ben Schroeder.*/
.header h1{
    display: inline-block;
    text-align: left;
    z-index: 2;
    font-size: 2.5vw;
    font-weight: bold;
    position: fixed;
    left: 10%;
    top: 25%;
    color: #A41034;
    animation: 0.7s ease-out 0s 1 slideInFromRight;
}

/*student, researcher, etc.*/
.header span{
    font-weight: normal;
    font-weight: bold;
    color: black;
}

/*-------Animation------*/

span:before{
    content: "";
    animation: animate infinite 12s;
}


@keyframes animate {
    0% {opacity:1; content: "student"}
    12% {opacity:0;}
    33.33% {opacity:1; content: "mechanical engineer"}
    45% {opacity:0;}
    66.66% {opacity:1; content: "researcher"}
    78% {opacity:0;}
    100% {opacity:1; content: "student"}
}

/*-------End Animation------*/

/*I am*/

.main p{
    text-align: left;
    z-index: 2;
    font-size: 1.35vw;
    left: 10%;
    top: 24.75%;
    margin-top: 8%;
    color: black;
    position: fixed;
    width: 50%;
    text-align: justify;
    
}

/*My interests*/
.main p1{
    text-align: left;
    z-index: 1;
    font-size: 1.35vw;
    left: 10%;
    top: 24.75%;
    margin-top: 12.5%;
    /*top: 53%;*/
    color: black;
    position: fixed;
    width: 50%;
    text-align: justify;
}

/*My goal*/
.main p2{
    text-align: left;
    z-index: 2;
    font-size: 1.35vw;
    left: 10%;
    top: 24.75%;
    margin-top: 17%;
    color: black;
    position: fixed;
    width: 50%;
    text-align: justify;
}


.main p3{
    font-weight: bold;
}

.header p4{
    color: black;
    font-weight: normal;
}


/*Line*/
/*.vl {
    border-left: .15vw solid black;
    height: 14.5vw;
    position: fixed;
    left: 7.835%;
    margin-left: 0.165%;
    top: 18.25vw;
  }

.dot {
    height: .5vw;
    width: .45vw;
    top: 18.25vw;
    left: 7.835%;
    position: fixed;
    background-color: black;
    border-radius: 50%;
}

.dots {
    height: .5vw;
    width: .45vw;
    top: 32.25vw;
    left: 7.835%;
    position: fixed;
    background-color: black;
    border-radius: 50%;
}*/
  

.main a:hover{
    color: #A41034;
}


/*Main Section*/


/*Footer*/
#linkedin{
    z-index: 2;
    height: 6%;
    top: 86%;
    left: 75%;
    position: fixed;
    text-align: center;
}

#email{
    z-index: 2;
    height: 7%;
    top: 84.75%;
    left: 80%;
    position: fixed;
    text-align: center;
}

#download{
    z-index: 2;
    height: 6%;
    top: 85.5%;
    left: 86%;
    position: fixed;
    text-align: center;
}

#wave{
    z-index: 1;
    height: 85%;
    /*top: 20%;
    left: 39%;*/
    left: 42%;
    top: 8vw;
    transform: rotate(-10deg);
    position: fixed;
    text-align: center;
}

/*End Footer*/


/*-----------------------------------------------------------------*/

/*General*/
.bold {
    font-weight: 700;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

/*General*/

/*-----------------------------------------------------------------*/