* {box-sizing: border-box}
html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 45vw;
    font-family:Arial, Helvetica, sans-serif;
}

/*-----------------------------------------------------------------*/
/*Nav Bar*/
ul {
    /*margin-left: 63vw;*/
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
}

.navbar {
    text-align: right;
    right: 5%;
    width: 100%;
    position: fixed;
    z-index: 2;
    margin-top: 1%;
}

.navbar a {
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    color: #808080;
    padding-left: 3vw;
    z-index: 2;
    font-size: 1.75vw;
    transition: 0.3s;
}

.navbar ul a:hover{
    color: #A41034;
    z-index: 2;
    font-size: 2vw;
}

.navbar h0{
    color: #A41034;
    font-size: 2.8vw;
    transition: 0.3s;
    margin-right: 35vw;
}

.navbar h0:hover{
    font-size: 3vw;
}


/*Nav Bar*/
/*-----------------------------------------------------------------*/

/*.mySlides {
    display: none;
}*/

/*Image Settings*/


#rocket{
    border-radius: 1.5vw;
    z-index: 2;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.35)));
}

#cube{
    border-radius: 1.5vw;
    z-index: 2;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.35)));
}

#boom{
    border-radius: 1.5vw;
    z-index: 2;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.35)));
}

#rov{
    border-radius: 1.5vw;
    z-index: 2;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.35)));
}




/*End Image Settings*/

/*Circles*/
.circlel {
    z-index: 1;
    height: 4vw;
    width: 4vw;
    top: 47%;
    left: 15%;
    z-index: 3;
    position: fixed;
    background-color: #A41034;
    border-radius: 50%;
}

.circler {
    z-index: 1;
    height: 4vw;
    width: 4vw;
    top: 47%;
    left: 41%;
    z-index: 3;
    position: fixed;
    background-color: #A41034;
    border-radius: 50%;
}

/*End Circles*/

/* Slideshow container */
.slideshow-container {
    max-width: 26vw;
    z-index: 2;
    top: 30%;
    left: 17vw;
    position: fixed;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    z-index: 4;
    cursor: pointer;
    position: fixed;
    top: 47.25%;
    width: 11vw;
    height: 1.5%;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    left: 42.4vw;
}

.prev{
    left: 16.2vw;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    opacity: 80%;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/*Projects: Rocket*/
.mySlides h1{
    text-align: left;
    z-index: 2;
    font-size: 1.75vw;
    font-weight: bold;
    position: fixed;
    left: 50%;
    top: 28%;
    color: #A41034;
    /*animation: 0.7s ease-out 0s 1 slideInFromRight;*/
    
}

p{
    text-align: left;
    z-index: 2;
    font-size: 1.35vw;
    font-weight: bold;
    position: fixed;
    left: 50%;
    top: 33%;
    color: black;
}

p1{
    text-align: left;
    z-index: 2;
    font-size: 1.55vw;
    font-weight: bold;
    position: fixed;
    left: 50%;
    top: 43%;
    color: #808080;
}

p2{
    text-align: justify;
    z-index: 2;
    font-size: 1.35vw;
    position: fixed;
    width: 38%;
    left: 50%;
    top: 48%;
    color: black;
}

.mySlides a{
    text-align: left;
    z-index: 2;
    font-size: 1.35vw;
    font-weight: bold;
    position: fixed;
    width: 20%;
    height: 2%;
    left: 50%;
    top: 65%;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.mySlides a:hover{
    z-index: 2;
    font-size: 1.45vw;
    
}



/*Line*/
hr{
    top: 82%;
    position: fixed;
    z-index: 2;
    left: 10%;
    width: 80%;
    border: 1px solid #A41034;
    background-color: #A41034;
}

.dot {
    height: 6px;
    width: 6px;
    top: 83.1%;
    left: 10%;
    position: fixed;
    background-color: #A41034;
    border-radius: 50%;
}

.dots {
    height: 6px;
    width: 6px;
    top: 83.1%;
    left: 90%;
    position: fixed;
    background-color: #A41034;
    border-radius: 50%;
}

.tri {
    width: 0;
	height: 0;
	border-left: .8vw solid transparent;
	border-right: .8vw solid transparent;
	border-top: 1.1vw solid #A41034;
    position: fixed;
    top: 83.5%;
    left: 24.25%;
}

.tri1 {
    width: 0;
	height: 0;
	border-left: .8vw solid transparent;
	border-right: .8vw solid transparent;
	border-top: 1.1vw solid #A41034;
    position: fixed;
    top: 83.5%;
    left: 41.25%;
}


.tri2 {
    width: 0;
	height: 0;
	border-left: .8vw solid transparent;
	border-right: .8vw solid transparent;
	border-top: 1.1vw solid #A41034;
    position: fixed;
    top: 83.5%;
    left: 57.5%;
}


.tri3 {
    width: 0;
	height: 0;
	border-left: .8vw solid transparent;
	border-right: .8vw solid transparent;
	border-top: 1.1vw solid #A41034;
    position: fixed;
    top: 83.5%;
    left: 73%;
}
/*End Line*/

/*Line Text*/
p3{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 12%;
    left: 19%;
    top: 88%;
    color: #A41034;
}

p4{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 10%;
    left: 37%;
    top: 88%;
    color: black;
}

p5{
    text-align: left;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 38%;
    left: 55%;
    top: 88%;
    color: black;
}

p6{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 12%;
    left: 68%;
    top: 88%;
    color: black;
}

/*Change test based on slide*/

p7{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 12%;
    left: 19%;
    top: 88%;
    color: black;
}

p8{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 10%;
    left: 37%;
    top: 88%;
    color: #A41034;
}


p9{
    text-align: left;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 38%;
    left: 55%;
    top: 88%;
    color: #A41034;
}

p10{
    text-align: center;
    z-index: 2;
    font-size: 1vw;
    font-weight: bold;
    position: fixed;
    width: 12%;
    left: 68%;
    top: 88%;
    color: #A41034;
}

/*End Line Text*/